<app-root></app-root>

    <header>
        <div class="container-grid posicionamento-header">
            <a href=""><img class="logo" src="assets/img/Game Mania.png" alt="logo do site"></a>
            <nav id="menu" class="menu">
                <a href="">Início</a>
                <a href="">Sobre</a>
                <a href="">Entrar</a>
                <a href="">Sair</a>
            </nav>
<a href="#" id="barras" ><img class="barras" src="assets/img/menu.png" alt="Menu de Barras"></a>

        </div>
    </header>
    
    <div class="banner">
        <img src="assets/img/Banner Desktop.png" alt="Banner">
    
    <section class="secao-jogos">
        
        <div class="carrosel">
                <div class="cx-carrosel">
                    <img src="assets/img/nintendo.jpg" alt="nintendo" id="imgCarrosel1">
                </div>
                <div class="cx-carrosel">
                    <img src="assets/img/PlayStation.jpg" alt="playstation" id="imgCarrosel2">
                </div>
                <div class="cx-carrosel">
                    <img src="assets/img/xbox logo.jpg" alt="XBOX" id="imgCarrosel3">
                </div>
                <div class="cx-carrosel">
                    <img src="assets/img/pc games.jpg" alt="PC" id="imgCarrosel4">
                </div>
            </div>
</section>


<section class="secao-partidas">
<div class="partidas">
<h2 class="texto-partidas"> Gamer, aqui você encontra tudo para seu console e PC. <br> Cadastre-se!</h2>
<form action="">
    <input type=" campo-email" type="email" placeholder="email" required>
    <button class= "button" onclick="enviarEmail()"> Cadastrar </button>
</form>
</div>

</section>

<footer>
    
    <div class="rodape">
   Todos os direitos reservados <br> Game Mania é focada no mercado gamer.





